In [27]:
# Importing Libraries 
import pandas as pd
import psycopg2

EXTRACTION

In [28]:

#Extracting data from a database
#Connection eshtablishment to the database 
conn1 = psycopg2.connect(
    dbname= 'data_silos',
    user='postgres',
    password='postgres',
    host='localhost'
)

cur = conn1.cursor()
query = "SELECT * FROM mock_data"
df_sql = pd.read_sql(query,con=conn1)

# Extracting data from a CSV file 
file_path = r'C:\Users\Kartikay\Downloads\MOCK_DATA_CSV.csv'
df_csv = pd.read_csv(file_path) 

# Extracting Data from a JSON file 
path = r'C:\Users\Kartikay\Downloads\mock_data_json.json'
df_json =  pd.read_json(path)

c:\Users\Kartikay\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [29]:
# Consoliudating all the data sources into one common master dataframe 
df_master = pd.concat([df_sql, df_csv, df_json], ignore_index = True)
df_master['master_id'] = df_master.index + 1

df_master

,product_id,product_name,product_category,product_price,product_description,manufacturer,stock_quantity,weight,color,release_date,expiry_date,master_id
0,1,Salsa,Food - Condiments,631.00,"Fresh and zesty salsa, perfect for nachos.",Meevee,NaN,4.2,amber,2024-01-24,None,1
1,2,Party Mini Dress,Clothing - Dresses,621.39,None,Realcube,416.0,9.8,None,2025-03-14,2024-05-29,2
2,3,Cheddar Cheese Crackers,Food - Snacks,172.69,Crunchy crackers topped with real cheddar chee...,Realpoint,NaN,1.2,sapphire,None,2025-03-23,3
3,4,Electric Air Pump,Outdoor,891.12,Fast and convenient air pump for inflating toy...,Voonder,19.0,4.8,None,2025-01-04,2024-08-15,4
4,5,Sweet Potato Chips,Food - Snacks,954.02,"Deliciously crunchy sweet potato chips, season...",Dabfeed,524.0,3.4,None,2024-05-16,None,5
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,996,Travel Laundry Bag,Travel,76.05,Compact laundry bag for travel use.,Topicware,NaN,2.7,yellow,2/20/2025,None,2996
2996,997,Sweetened Condensed Milk,Food - Baking Goods,853.48,None,Tavu,623.0,4.3,yellow,None,3/17/2025,2997
2997,998,Saffron Rice Mix,Food - Grains,353.72,Flavorful rice mix with saffron and spices.,Jabberstorm,652.0,6.6,peach,7/17/2025,6/20/2026,2998
2998,999,Graphic Sweatshirt,Clothing - Tops,228.67,A comfortable sweatshirt featuring a bold grap...,Agivu,580.0,4.3,None,7/1/2025,3/11/2024,2999
2999,1000,Wildflower Honey,Food - Condiments,80.47,None,Edgewire,873.0,7.1,purple,9/5/2025,None,3000

 TRANSFORMATION

In [30]:
df_master.info()

df_master = df_master.drop(["product_id"], axis = 1)

df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           3000 non-null   int64
 1   product_name         3000 non-null   object
 2   product_category     3000 non-null   object
 3   product_price        2798 non-null   float64
 4   product_description  1971 non-null   object
 5   manufacturer         2770 non-null   object
 6   stock_quantity       2252 non-null   float64
 7   weight               1534 non-null   float64
 8   color                2086 non-null   object
 9   release_date         2462 non-null   object
 10  expiry_date          2389 non-null   object
 11  master_id            3000 non-null   int64
dtypes: float64(3), int64(2), object(7)
memory usage: 281.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_name         3000 non-null   object
 1   product_category     3000 non-null   object
 2   product_price        2798 non-null   float64
 3   product_description  1971 non-null   object
 4   manufacturer         2770 non-null   object
 5   stock_quantity       2252 non-null   float64
 6   weight               1534 non-null   float64
 7   color                2086 non-null   object
 8   release_date         2462 non-null   object
 9   expiry_date          2389 non-null   object
 10  master_id            3000 non-null   int64
dtypes: float64(3), int64(1), object(7)
memory usage: 257.9+ KB

In [48]:
df_master[['expiry_date','release_date']]


def correct_date_format(x):
    if x != None:
        return True
    else:
        return False

df_master[['expiry_date','release_date']].applymap(correct_date_format)

      expiry_date  release_date
0           False          True
1            True          True
2            True         False
3            True          True
4           False          True
...           ...           ...
2995        False          True
2996         True         False
2997         True          True
2998         True          True
2999        False          True

[3000 rows x 2 columns]