Countries Analysis

In [2]:
import pandas as pd
import requests
import json

In [3]:
# Fecthing the dat from api
api_url = 'https://restcountries.com/v3.1/all'
response = requests.get(api_url)
data = response.json()

In [17]:
# Converting it into a datframe
df = pd.DataFrame(data)
print(df.info())
# df = pd.json_normalize(data)
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          250 non-null    object
 1   tld           249 non-null    object
 2   cca2          250 non-null    object
 3   ccn3          249 non-null    object
 4   cioc          206 non-null    object
 5   independent   250 non-null    bool
 6   status        250 non-null    object
 7   unMember      250 non-null    bool
 8   currencies    247 non-null    object
 9   idd           250 non-null    object
 10  capital       246 non-null    object
 11  altSpellings  250 non-null    object
 12  region        250 non-null    object
 13  subregion     245 non-null    object
 14  languages     249 non-null    object
 15  latlng        250 non-null    object
 16  landlocked    250 non-null    bool
 17  borders       165 non-null    object
 18  area          250 non-null    float64
 19  demonyms      250 non-null    object
 20  cca3          250 non-null    object
 21  translations  250 non-null    object
 22  flag          250 non-null    object
 23  maps          250 non-null    object
 24  population    250 non-null    int64
 25  gini          167 non-null    object
 26  fifa          206 non-null    object
 27  car           250 non-null    object
 28  timezones     250 non-null    object
 29  continents    250 non-null    object
 30  flags         250 non-null    object
 31  coatOfArms    250 non-null    object
 32  startOfWeek   250 non-null    object
 33  capitalInfo   250 non-null    object
 34  postalCode    250 non-null    object
dtypes: bool(3), float64(1), int64(1), object(30)
memory usage: 63.4+ KB
None

In [24]:
flat = pd.json_normalize(
    data,
    sep='_',  # use underscore for nested keys
    record_path=None,
    meta=[
        'cca2', 'region', 'subregion', 'population', 'landlocked', 
        ['name', 'common'], ['name', 'official'], 
        ['languages'], ['currencies'], 
        ['capital'], ['timezones'], ['area']
    ]
)

flat.columns

Index(['tld', 'cca2', 'ccn3', 'cioc', 'independent', 'status', 'unMember',
       'capital', 'altSpellings', 'region',
       ...
       'currencies_AOA_name', 'currencies_BSD_symbol', 'currencies_BSD_name',
       'currencies_SZL_symbol', 'currencies_SZL_name', 'currencies_BRL_symbol',
       'currencies_BRL_name', 'name_nativeName_lit_official',
       'name_nativeName_lit_common', 'languages_lit'],
      dtype='object', length=897)

In [19]:
df['translations']

0      {'ara': {'official': 'جمهورية بوتسوانا', 'comm...
1      {'ara': {'official': 'مملكة تونغا', 'common': ...
2      {'ara': {'official': 'الجمهورية الهيلينية', 'c...
3      {'ara': {'official': 'جمهورية جزر مارشال', 'co...
4      {'ara': {'official': 'جمهورية بيلاروسيا', 'com...
                             ...
245    {'ara': {'official': 'كومنولث جزر البهاما', 'c...
246    {'ara': {'official': 'مملكة إسواتيني', 'common...
247    {'ara': {'official': 'جمهورية البرازيل الاتحاد...
248    {'ara': {'official': 'جمهورية ليتوانيا', 'comm...
249    {'ara': {'official': 'سانت لوسيا', 'common': '...
Name: translations, Length: 250, dtype: object